.photographer_data {
    padding: 0 100px;
}

.photographer_presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0;
    margin-bottom: 30px;
}

.photographer_presentation__data {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
}

.photographer_presentation__data h1 {
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
    margin: 0;
}

.photographer_presentation__data .place {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin: 0;
}

.photographer_presentation__data .tagline {
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    margin: 0;
}

.photographer_presentation__button {
    display: flex;
    justify-content: center;
    width: 30%;
}

.contact_button, .form_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer_presentation__picture {
    display: flex;
    justify-content: end;
    width: 30%;
}

.photographer_presentation__picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.photographer_portfolio__sorted_by {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
}

.photographer_portfolio__medias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_portfolio__medias a {
    text-decoration: none;
}

.media_card {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.media_card__media {
    width: 100%;
    height: 300px;
}

.media_card__media img, .media_card__media video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.media_card__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0 20px 0; 
    color: #911C1C;
}

.media_card__description__title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
}

.media_card__description__popularity {
    margin: 0;
    width: 120px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
    text-align: right;
}

.media_card__description__popularity.liked {
    font-weight: bold;
}

.media_card__description__popularity .heart {
    cursor: pointer;
}



.aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 276px;
    height: 70px;
    background: #DB8876;
    border-radius: 5px 5px 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

#lightbox {
    position: fixed;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.lightbox__next,
.lightbox__prev {
    position: fixed;
    border: none;
    top: 50%;
    margin-top: -250px;
    right: 20px; 
    width: 150px;
    height: 500px;
    z-index: 11;
}

.lightbox__prev {
    right: auto;
    left: 20px;
}

.lightbox__close {
    position: fixed;
    border: none;
    width: 150px;
    height: 50px;
    top: 20px;
    right: 20px;
}

#lightbox button {
    background-color: transparent;
    color: #901C1C;
    font-size: 42px;
    /*text-indent: -4000px;*/
    cursor: pointer;
}

#lightbox button i:hover {
    color: #DB8876;;
}

.lightbox__container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    margin: 50px 200px;
}

.lightbox__container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.lightbox__container__media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}

.lightbox__container__media img, .lightbox__container__media video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lightbox__container__title {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 24px;
    line-height: 50px;
    text-align: left;
    color: #911C1C;
}



.lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(/assets/loader.svg) center center no-repeat;
}

#contact_modal {
    position: fixed;
    border: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -moz-background-color: rgba(0, 0, 0, 0.9);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 150px;
    margin-bottom: 52px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    line-height: 83px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 170px;
}

.text_control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
}

.formData[data_error]::after {
    content: attr(data_error);
    font-size: 0.4em;
    color: #901C1C;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data_error_visible="true"]::after {
    opacity: 1;
}

.formData[data_error_visible="true"] .text_control {
    border: 4px solid #901C1C;
}

.formData[data_error_visible="true"] .error_message {
    margin: 16px 0 0 0;
    color: #901C1C;
}

#successful_sending {
    font-size: 32px;
}

@media (min-width: 950px) {
    .photographer_portfolio__medias {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}