#contact_modal {
    display: none;
}

.photographer {
    padding: 0 100px;
}

.photographer__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0;
    margin-bottom: 30px;
}

.photographer__header__data {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
}

.photographer__header__data h1 {
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
    margin: 0;
}

.photographer__header__data .place {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin: 0;
}

.photographer__header__data .tagline {
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    margin: 0;
}

.photographer__header__button {
    display: flex;
    justify-content: center;
    width: 30%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer__header__picture {
    display: flex;
    justify-content: end;
    width: 30%;
}

.photographer__header__picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.photographer__way_of_ordering {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
}

.photographer__medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    /*margin-top: 100px;*/
}

.media_card {
    display: flex;
    flex-direction: column;
}

.media_card__media {}

.media_card__media img {
    width: 100%;
}

.media_card__description {
    display: flex;
    justify-content: space-between;
}

.media_card__description__title {
}

.media_card__description__popularity {
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}